<%- include('../partials/header') %>
<header class="masthead" style="background-image: url('assets/img/about-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1  class="h1">Sign In</h1>
                    <span class="subheading">Step into the future</span>
                </div>
            </div>
        </div>
    </div>
</header>
<form>
    <!-- Email input -->
    <div class ="container">
    <h1 style ="text-align: center;">Sign In Form</h1>
    <div class="form-outline mb-4">
      <input type="email" id="form2Example1" class="form-control" />
      <label class="form-label" for="form2Example1">Email address</label>
    </div>
  
    <!-- Password input -->
    <div class="form-outline mb-4">
      <input type="password" id="form2Example2" class="form-control" />
      <label class="form-label" for="form2Example2">Password</label>
    </div>
    
    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4">Submit</button>
   </div>
</form>

<%- include('../partials/footer') %>    