<%- include('./partials/header'); -%>
<header class="masthead"
style=" background-image: url('https://images.unsplash.com/photo-1691604768829-ad1da34d688d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1932&q=80');background-size:cover;background-repeat: no-repeat; height: 500px;">
<div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="site-heading">
                <h1 class="text-center" style="margin-top:40%;font-size:60px; color:rgb(244, 226, 226);">Clean Blog</h1>
                <span class="subheading" style="display:block;text-align:center;margin-top:6%;font-size:25px;">
                    A Blog Theme by Start Bootstrap
                </span>
            </div>
        </div>
    </div>
</div>
</header>
<br><br><br>

<h1> Resume Page</h1>

<br><br><br>

<%- include('./partials/footer'); -%>